/* Main Body */

body {
    background: black;
    font-family: 'Hind Vadodara', 'Helvetica Neue', sans-serif;
    color: white;
}

A:link { text-decoration: none; color: #FFFFFF; }
A:visited { text-decoration: none; color: #FFFFFF; }
A:hover { text-decoration: none; color: #399993; }

/* Going For A Grid Style Setup. 3 Parts, Top / Mid / Bottom */

.maingrid {
    display: grid;
    grid-template: 1fr 50% 1fr / 1fr 50% 1fr;
    height: 100%;
}
.toparea {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3em;
}
.centerarea {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomarea {
    grid-area: 3 / 2 / 4/ 3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Sign-In Container & Grid */
.signin {
    display: grid;
    grid-template-columns: 150px 300px;
    grid-template-rows: 30px repeat(4, 50px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #333355;
}
.signin-header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #C1CDD5;
    color: #000000;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-weight: bolder;
}
.unametext { grid-area: 2 / 1 / 3 / 2; text-align: right; padding: 20px; vertical-align: center;}
.unamefield { grid-area: 2 / 2 / 3 / 3; text-align: center; padding: 20px; vertical-align: center;}
.passtext { grid-area: 3 / 1 / 4 / 2; text-align: right; padding: 20px; }
.passfield { grid-area: 3 / 2 / 4 / 3; text-align: center; padding: 20px; }
.buttonleft { grid-area: 4 / 1 / 5 / 2; }
.buttonright { grid-area: 4 / 2 / 5 / 3; text-align: right; padding: 10px; padding-right: 25px; }
.signin-bottom { grid-area: 5 / 1 / 6 / 3; text-align: center; line-height: 30px; padding-top: 10px; font-size: 0.8em; letter-spacing: 0.1em; }

/* Form Styling */
.formfield {
    background-color: #000000;
    color: #FFFFFF;
    width: 250px;
    border: 2px solid #111133;
}
.button {
    background-color: #C1CDD5;
    color: #000000;
    border: 1px solid #111133;
}

/* Color Grid, At The Bottom */
.colorgrid {
    display: grid;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: 4em 2em;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    text-align: center;
}
.cbox01 { grid-area: 1 / 1 / 2 / 2; background-color: #C1CDD5; }
.cbox02 { grid-area: 1 / 2 / 2 / 3; background-color: #111133; }
.cbox03 { grid-area: 1 / 3 / 2 / 4; background-color: #000000; }
.cbox04 { grid-area: 1 / 4 / 2 / 5; background-color: #333355; }
.cbox05 { grid-area: 1 / 5 / 2 / 6; background-color: #222233; }
.tbox01 { grid-area: 2 / 1 / 3 / 2; font-size: 0.75em; }
.tbox02 { grid-area: 2 / 2 / 3 / 3; font-size: 0.75em; }
.tbox03 { grid-area: 2 / 3 / 3 / 4; font-size: 0.75em; }
.tbox04 { grid-area: 2 / 4 / 3 / 5; font-size: 0.75em; }
.tbox05 { grid-area: 2 / 5 / 3 / 6; font-size: 0.75em; }


table {
    background-color: #333355;
    border: 2px solid black;
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 0px;
    border-spacing: 0px;
}
td {
    border: 1px solid black;
    padding: 2px;
}
.theader {
    background-color: #C1CDD5;
    color: #000000;
    text-align: center;
}
.rowheader {
    background-color: #111133;
}
.colheader {
    background-color: #222233;
}

.form { font-family: geneva; 
        font-size: 14px; 
        color: #FFFFFF; 
        background-color: rgb(0,0,50); 
        font-weight: bold; 
        border: thin solid; 
        border-color: #000000;
}