body {
    height: 100%;
    background: #000000;
    overflow: scroll;
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0px;
    left: 0px;
    font-size: 0.85em;
    padding: 0px;
    margin: 0px;
}

A:link {
    text-decoration: none;
    color: #FFFFFF;
}

A:visited {
    text-decoration: none;
    color: #FFFFFF;
}

A:hover {
    text-decoration: none;
    color: #399993;
}

.topbanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    background: #C1CDD5;
    height: 45px;
    color: #000000;
    left: 0;
    top: 0;
    padding-right: 5px;
}

.topbanner-right {
    text-align: right;
    padding-right: 5px;
}

.midbanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    background: #222233;
    color: #FFFFFF;
    left: 0;
    top: 45;
    height: 20px;
    padding-right: 5px;
}

.midbanner-right {
    text-align: right;
    padding-right: 5px;
}

.hamburger {
    display: none;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 65;
    text-align: center;
    background: #333355;
}

.main {
    display: flex;
    position: relative;
    top: 80px;
    left: 0px;
    margin: 3px;
    z-index: -1;
}

table {
    width: 100%;
    font-size: 0.85em;
    border: 3px solid #000000;
}

table .theader {
    background: #C1CDD5;
    color: #000000;
    text-align: center;
}

table .tmid {
    background: #222233;
    color: #FFFFFF;
    text-align: center;
}

.chartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.legend {
    height: 6px;
    width: 6px;
    border: 1px solid white;
    padding: 4px;
    align-self: center;
    margin-right: 5px;
}

.l1 {
    background: #4A1A70;
}

.l2 {
    background: #2306a9;
}

.l3 {
    background: #140e2f;
}

.l4 {
    background: #d8b6d3;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(15, 30px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    width: 100vw;
    line-height: 30px;
}

.parent div {
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
}

.div1 {
    grid-area: 1 / 1 / 2 / 6;
    background: #C1CDD5;
    color: #000000;
    justify-content: center;
}

.div2 {
    grid-area: 2 / 1 / 3 / 6;
    background: #222233;
    color: #FFFFFF;
    justify-content: center;
}

.div3 {
    grid-area: 3 / 1 / 8 / 3;
    background: #333355;
    align-items: center;
    justify-content: center;
}

.div4 {
    grid-area: 3 / 3 / 4 / 5;
    background: #333355;
}

.div5 {
    grid-area: 3 / 5 / 4 / 6;
    background: #111133;
}

.div6 {
    grid-area: 4 / 3 / 5 / 5;
    background: #333355;
}

.div7 {
    grid-area: 4 / 5 / 5 / 6;
    background: #111133;
}

.div8 {
    grid-area: 5 / 3 / 6 / 5;
    background: #333355;
}

.div9 {
    grid-area: 5 / 5 / 6 / 6;
    background: #111133;
}

.div10 {
    grid-area: 6 / 3 / 7 / 5;
    background: #333355;
}

.div11 {
    grid-area: 6 / 5 / 7 / 6;
    background: #111133;
}

.div12 {
    grid-area: 7 / 3 / 8 / 5;
    background: #333355;
}

.div13 {
    grid-area: 7 / 5 / 8 / 6;
    background: #111133;
}

.div14 {
    grid-area: 8 / 1 / 9 / 6;
    background: #222233;
    justify-content: center;
}

.div15 {
    grid-area: 9 / 1 / 10 / 5;
    background: #333355;
}

.div16 {
    grid-area: 9 / 5 / 10 / 6;
    background: #111133;
}

.div17 {
    grid-area: 10 / 1 / 11 / 5;
    background: #333355;
}

.div18 {
    grid-area: 10 / 5 / 11 / 6;
    background: #111133;
}

.div19 {
    grid-area: 11 / 1 / 12 / 5;
    background: #333355;
}

.div20 {
    grid-area: 11 / 5 / 12 / 6;
    background: #111133;
}

.div21 {
    grid-area: 12 / 1 / 13 / 6;
    background: #222233;
    justify-content: center;
}

.div22 {
    grid-area: 13 / 1 / 16 / 6;
    background: #333355;
    justify-content: center;
    align-items: center;
}

.amotd {
    height: 80px;
    width: 90%;
    color: #FFFFFF;
    background: #000000;
    border: 3px solid white;
}


/*

.main-upperinfogrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    width: 100vw;
}

.main-upperinfogrid-header {
    grid-area: 1 / 1 / 3 / 7;
    background: #C1CDD5;
    color: #000000;
    text-align: center;
}

.main-upperinfogrid-mid1 {
    grid-area: 3 / 1 / 4 / 7;
    background: #222233;
    color: #FFFFFF;
    text-align: center;
}

.main-upperinfogrid1 {
    grid-area: 4 / 1 / 5 / 3;
    background: #111133;
}

.main-upperinfogrid2 {
    grid-area: 4 / 3 / 5 / 4;
    background: #333355;
}

.main-upperinfogrid3 {
    grid-area: 5 / 1 / 6 / 3;
    background: #111133;
}

.main-upperinfogrid4 {
    grid-area: 5 / 3 / 6 / 4;
    background: #333355;
}

.main-upperinfogrid5 {
    grid-area: 6 / 1 / 7 / 3;
    background: #111133;
}

.main-upperinfogrid6 {
    grid-area: 6 / 3 / 7 / 4;
    background: #333355;
}

.main-upperinfogrid7 {
    grid-area: 7 / 1 / 8 / 3;
    background: #111133;
}

.main-upperinfogrid8 {
    grid-area: 7 / 3 / 8 / 4;
    background: #333355;
}

.main-upperinfogrid9 {
    grid-area: 8 / 1 / 9 / 3;
    background: #111133;
}

.main-upperinfogrid10 {
    grid-area: 8 / 3 / 9 / 4;
    background: #333355;
}

.main-upperinfogrid11 {
    grid-area: 4 / 4 / 5 / 6;
    background: #111133;
}

.main-upperinfogrid12 {
    grid-area: 4 / 6 / 5 / 7;
    background: #333355;
}

.main-upperinfogrid13 {
    grid-area: 5 / 4 / 6 / 6;
    background: #111133;
}

.main-upperinfogrid14 {
    grid-area: 5 / 6 / 6 / 7;
    background: #333355;
}

.main-upperinfogrid15 {
    grid-area: 6 / 4 / 7 / 6;
    background: #111133;
}

.main-upperinfogrid16 {
    grid-area: 6 / 6 / 7 / 7;
    background: #333355;
}

.main-upperinfogrid17 {
    grid-area: 7 / 4 / 8 / 6;
    background: #111133;
}

.main-upperinfogrid18 {
    grid-area: 7 / 6 / 8 / 7;
    background: #333355;
}

.main-upperinfogrid19 {
    grid-area: 8 / 4 / 9 / 6;
    background: #111133;
}

.main-upperinfogrid20 {
    grid-area: 8 / 6 / 9 / 7;
    background: #333355;
}

.main-upperinfogrid-mid2 {
    grid-area: 9 / 1 / 10 / 7;
    background: #222233;
    text-align: center;
}

.main-upperinfogrid21 {
    grid-area: 10 / 1 / 11 / 6;
    background: #111133;
}

.main-upperinfogrid22 {
    grid-area: 10 / 6 / 11 / 7;
    background: #333355;
}

.main-upperinfogrid23 {
    grid-area: 11 / 1 / 12 / 6;
    background: #111133;
}

.main-upperinfogrid24 {
    grid-area: 11 / 6 / 12 / 7;
    background: #333355;
}

.main-upperinfogrid25 {
    grid-area: 12 / 1 / 13 / 6;
    background: #111133;
}

.main-upperinfogrid26 {
    grid-area: 12 / 6 / 13 / 7;
    background: #333355;
}
*/