.smallinputbox {
    height: 24px;
    width: 55px;
    background: #000000;
    color: #FFFFFF;
    border: 2px solid white;
    box-sizing: border-box;
}

.smallinputbutton {
    height: 24px;
    width: 100px;
    background: #000000;
    color: #FFFFFF;
    border: 2px solid white;
}

.tip {
    width: 80%;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    padding: 10px;
    align-self: center;
}

.drafting {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto auto auto auto auto; 
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-template-areas: 
      "d-header d-header"
      "d-text d-text"
      "d-name d-draft"
      "d-soldiers d-soldiers-input"
      "d-scientists d-scientists-input"
      "d-engineers d-engineers-input"
      "d-button d-button";
    width: 100%;
    border: 3px solid black;
    box-sizing: border-box;
  }
  .d-soldiers, .d-soldiers-input, .d-scientists, .d-scientists-input, 
  .d-engineers, .d-engineers-input, .d-button { background: #333355; }
  .drafting div { min-height: 30px; box-sizing: border-box; padding: 5px; display: flex; justify-content: center; align-items: center; }
  .d-header { grid-area: d-header; background: #C1CDD5; color: #000000; }
  .d-text { grid-area: d-text; background: #111133; }
  .d-name { grid-area: d-name; background: #222233; }
  .d-draft { grid-area: d-draft; background: #222233; }
  .d-soldiers { grid-area: d-soldiers; }
  .d-soldiers-input { grid-area: d-soldiers-input; }
  .d-scientists { grid-area: d-scientists; }
  .d-scientists-input { grid-area: d-scientists-input; }
  .d-engineers { grid-area: d-engineers; }
  .d-engineers-input { grid-area: d-engineers-input; }
  .d-button { grid-area: d-button; }



.draftingstatus {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "ds-header ds-header ds-header ds-header ds-header ds-header ds-header"
      "ds-tick ds-soldier ds-soldier ds-scientist ds-scientist ds-engineer ds-engineer"
      "t12 ds-soldier-12 ds-soldier-12 ds-scientist-12 ds-scientist-12 ds-engineer-12 ds-engineer-12"
      "t11 ds-soldier-11 ds-soldier-11 ds-scientist-11 ds-scientist-11 ds-engineer-11 ds-engineer-11"
      "t10 ds-soldier-10 ds-soldier-10 ds-scientist-10 ds-scientist-10 ds-engineer-10 ds-engineer-10"
      "t9 ds-soldier-9 ds-soldier-9 ds-scientist-9 ds-scientist-9 ds-engineer-9 ds-engineer-9"
      "t8 ds-soldier-8 ds-soldier-8 ds-scientist-8 ds-scientist-8 ds-engineer-8 ds-engineer-8"
      "t7 ds-soldier-7 ds-soldier-7 ds-scientist-7 ds-scientist-7 ds-engineer-7 ds-engineer-7"
      "t6 ds-soldier-6 ds-soldier-6 ds-scientist-6 ds-scientist-6 ds-engineer-6 ds-engineer-6"
      "t5 ds-soldier-5 ds-soldier-5 ds-scientist-5 ds-scientist-5 ds-engineer-5 ds-engineer-5"
      "t4 ds-soldier-4 ds-soldier-4 ds-scientist-4 ds-scientist-4 ds-engineer-4 ds-engineer-4"
      "t3 ds-soldier-3 ds-soldier-3 ds-scientist-3 ds-scientist-3 ds-engineer-3 ds-engineer-3"
      "t2 ds-soldier-2 ds-soldier-2 ds-scientist-2 ds-scientist-2 ds-engineer-2 ds-engineer-2"
      "t1 ds-soldier-1 ds-soldier-1 ds-scientist-1 ds-scientist-1 ds-engineer-1 ds-engineer-1"
      "a ds-soldier-a ds-soldier-a ds-scientist-a ds-scientist-a ds-engineer-a ds-engineer-a";
      width: 100%;
      border: 3px solid black;
      box-sizing: border-box;
  }
  .draftingstatus div { min-height: 30px; display: flex; align-items: center; justify-content: center; }

  .ds-tick, .ds-soldier, .ds-engineer, .ds-scientist { background: #222233; }
  
  .t12, .t11, .t10, .t9, .t8, .t7, .t6, .t5, .t4, .t3, .t2, .t1, .a { background: #111133; }
  
  .ds-soldier-12, .ds-soldier-10, .ds-soldier-11, .ds-soldier-9, .ds-soldier-8, .ds-soldier-7, 
  .ds-soldier-6, .ds-soldier-5, .ds-soldier-4, .ds-soldier-3, .ds-soldier-2, .ds-soldier-1, .ds-soldier-a { background: #333355; }
  
  .ds-scientist-12, .ds-scientist-11, .ds-scientist-10, .ds-scientist-9, .ds-scientist-8, .ds-scientist-7, .ds-scientist-6, 
  .ds-scientist-5, .ds-scientist-4, .ds-scientist-3, .ds-scientist-2, .ds-scientist-1, .ds-scientist-a { background: #333355; }

  .ds-engineer-12, .ds-engineer-11, .ds-engineer-10, .ds-engineer-9, .ds-engineer-8, .ds-engineer-7, .ds-engineer-6, 
  .ds-engineer-5, .ds-engineer-4, .ds-engineer-3, .ds-engineer-2, .ds-engineer-1, .ds-engineer-a { background: #333355; }

  .ds-header { grid-area: ds-header; background: #C1CDD5; color: #000000; }
  .ds-tick { grid-area: ds-tick; }
  .ds-soldier { grid-area: ds-soldier; }
  .ds-scientist { grid-area: ds-scientist; }
  .ds-engineer { grid-area: ds-engineer; }
  .t12 { grid-area: t12; }
  .ds-soldier-12 { grid-area: ds-soldier-12; }
  .ds-scientist-12 { grid-area: ds-scientist-12; }
  .ds-engineer-12 { grid-area: ds-engineer-12; }
  .t11 { grid-area: t11; }
  .ds-soldier-11 { grid-area: ds-soldier-11; }
  .ds-scientist-11 { grid-area: ds-scientist-11; }
  .ds-engineer-11 { grid-area: ds-engineer-11; }
  .t10 { grid-area: t10; }
  .ds-soldier-10 { grid-area: ds-soldier-10; }
  .ds-scientist-10 { grid-area: ds-scientist-10; }
  .ds-engineer-10 { grid-area: ds-engineer-10; }
  .t9 { grid-area: t9; }
  .ds-soldier-9 { grid-area: ds-soldier-9; }
  .ds-scientist-9 { grid-area: ds-scientist-9; }
  .ds-engineer-9 { grid-area: ds-engineer-9; }
  .t8 { grid-area: t8; }
  .ds-soldier-8 { grid-area: ds-soldier-8; }
  .ds-scientist-8 { grid-area: ds-scientist-8; }
  .ds-engineer-8 { grid-area: ds-engineer-8; }
  .t7 { grid-area: t7; }
  .ds-soldier-7 { grid-area: ds-soldier-7; }
  .ds-scientist-7 { grid-area: ds-scientist-7; }
  .ds-engineer-7 { grid-area: ds-engineer-7; }
  .t6 { grid-area: t6; }
  .ds-soldier-6 { grid-area: ds-soldier-6; }
  .ds-scientist-6 { grid-area: ds-scientist-6; }
  .ds-engineer-6 { grid-area: ds-engineer-6; }
  .t5 { grid-area: t5; }
  .ds-soldier-5 { grid-area: ds-soldier-5; }
  .ds-scientist-5 { grid-area: ds-scientist-5; }
  .ds-engineer-5 { grid-area: ds-engineer-5; }
  .t4 { grid-area: t4; }
  .ds-soldier-4 { grid-area: ds-soldier-4; }
  .ds-scientist-4 { grid-area: ds-scientist-4; }
  .ds-engineer-4 { grid-area: ds-engineer-4; }
  .t3 { grid-area: t3; }
  .ds-soldier-3 { grid-area: ds-soldier-3; }
  .ds-scientist-3 { grid-area: ds-scientist-3; }
  .ds-engineer-3 { grid-area: ds-engineer-3; }  
  .t2 { grid-area: t2; }
  .ds-soldier-2 { grid-area: ds-soldier-2; }
  .ds-scientist-2 { grid-area: ds-scientist-2; }
  .ds-engineer-2 { grid-area: ds-engineer-2; }
  .t1 { grid-area: t1; }
  .ds-soldier-1 { grid-area: ds-soldier-1; }
  .ds-scientist-1 { grid-area: ds-scientist-1; }
  .ds-engineer-1 { grid-area: ds-engineer-1; }
  .a { grid-area: a; }
  .ds-soldier-a { grid-area: ds-soldier-a; }
  .ds-scientist-a { grid-area: ds-scientist-a; }
  .ds-engineer-a { grid-area: ds-engineer-a; }